.about
  text-align center
  &__title
    margin-top 45px
    font-weight: bold;
    font-size 37px
  span
    color #e65100
  &__icons
    margin 10px auto
    a
      overflow hidden
      padding-left 15%

  &__icon
    float left
    padding 10px
    img
      width 85%

