.catalog
  border 1px solid #000
.product
  &__img-container
    position relative
    width: 100%;
    max-width: 100%;
    height: 280px;
    max-height: 400px;
    line-height: 280px;
    text-align: center;
    
  &__image-align
    // vertical-align top
    max-width 100%
.link__img
  display: inline-block;
  vertical-align: middle;
  text-align: center;
.link__name
  color #000
  font-size 18px
.product
  &__title
    text-align center
  &__price
    text-align center
  &__description
    text-align center
