.categories
  &__title
    text-align left
    display inline-block
    padding 0.5em 0
    border-bottom 3px solid #000
    margin-bottom: 50px
    +below(600px)
      display block
      text-align center
.categorie
  &__title
    text-align center
    
  