.contacts
  &__h2
    margin-bottom 30px
  &__input
    display block
    width 100%
    margin-bottom 15px
    padding 10px
    
  &__textarea
    display block
    width 100%
    padding 10px
    height 100px
  &__address
    display block
    text-align center
    & > i
      vertical-align middle
      font-size 32px
    & > span
      padding-left 15px
      font-size 18px
      vertical-align middle