.features
  background-color #424f60
  height auto
  padding-top: 20px
  padding-bottom 20px
  &__wrapper
    +below(990px)
      text-align left
      margin-bottom: 10px
  &__iconColor
    font-size 28px !important
    color #fff
    vertical-align middle
    
  &__text
    padding-left: 10px
    display inline-block
    vertical-align middle
    color #fff
    font-size 16px
    line-height 14px
    