footer
  background-color #000
  color #fff
  overflow auto
  padding-top 40px
  padding-bottom 80px
  font-family: 'Jura', sans-serif !important
  font-weight bold
  font-size 17px
  @media(max-width: 620px)
    font-size: 20px !important
.logo-footer
  display block
  background url('../images/house/logo.png') no-repeat center
  background-size contain
  margin-top 30px
  height: 50px;
.tel-footer
  color #fff
.footer__button
  color #de4e15 !important
  outline none
  top: -46px !important;
  position: absolute;
  right: 0;
  color: #FFF;
  z-index: 15;
  padding: 5px 8px 3px;
  margin: 0;
  border: medium none;
  background-color: #e65100 !important
  transition background-color 0.6s ease
  &:hover
    color: #e65100 !important
    border: 1px solid #e65100;
    background-color: #ffffff !important
    padding: 4px 7px 2px;
    transition background-color 0.6s ease
.footer-info
  margin: 30px auto;
  text-align: center;
  span
    font-size 25px
.social-list
  margin-top 20px
  img
    width 40px
    height 40px
    padding 5px
    :hover
      filter: sepia(100%);
.footer-map
  text-align center
  margin-top 15px
  font-size 15px
  