header
  // height 100%
  position fixed
  background-color rgba(0,0,0,0.5)
  width 100%
  top 0
  left 0
  z-index 100
  box-shadow 1px -1px 1px #000
.header
  &__button
    color #b38770 !important
    border 1px solid #b38770
    border-radius 2px
    font-size 14px
    background #ffffff
    padding 2px 8px
    transition all 0.6s ease-in-out

    &:hover
      background-color #b38770
      color #fff !important
      transition all 0.6s ease-in-out
.header-scroll
  & .phone-number
      font-weight 500
      line-height 21px
      text-align right
      & > div
        display inline-block
        vertical-align top
        margin-top 2px
        font-size 20px
.logo
  display none
  color #b38770
  font-size 30px
  font-weight bold
  // height: 92px
  // line-height: 87px
  // position: relative
  // z-index: 10
  @media (max-width: 767px)
    height: 65px !important;
    line-height: 57px !important;
  @media (max-width: 600px)
    font-size 20px !important
    // @media (max-width: 767px)
    //   margin-top: 7px;
    //   max-height: 39px;
    //   width: auto;
    // @media (max-width: 530px)
    //   max-width 100%
.top-description
  color: #656556;
  font-size: 27px;
  line-height: 16px;
  font-weight: bold;
  padding: 17px 0 0 37px;
  text-align right
.top-callback
  padding: 10px 0 0;
  line-height: 28px;
  margin-bottom: 7px
  @media (max-width: 767px)
    padding-top 0
  & .callback
    & span
      display: inline-block;
      vertical-align: top;
      margin: 0;
  & .phone
    font-size: 20px
    margin-right: 17px
    @media (max-width: 767px)
      float: none !important;
      position: absolute;
      width: auto;
      top: -43px;
      display: block !important;
      z-index: 10;
      margin: 0px;
      right: 50px;
    @media (max-width: 750px)
      display none !important
    & .fa
      border-radius 18px
      color #ffffff
      font-size 16px
      margin 0 5px
      padding 6px 8px 6px 8px
      vertical-align top
      // background-color #b38770
    & .phone-number
      font-weight 500
      line-height 21px
      text-align right
      & > div
        display inline-block
        vertical-align top
        margin-top 2px
        font-size 20px
        & > a:hover
          color:red
          font-weight bold

@media (min-width: 768px)
  .nav-main-collapse.collapse
    display: block !important;
    height: auto !important;

.btn.btn-responsive-nav
  outline none
  top: -46px !important;
  position: absolute;
  right: 0;
  color: #FFF;
  z-index: 15;
  padding: 5px 8px 3px;
  margin: 0;
  border: medium none;
  background-color: #b38770;
  transition background-color 0.6s ease
  &:hover
    color: #b38770;
    border: 1px solid #b38770;
    background-color: #ffffff;
    padding: 4px 7px 2px;
    transition background-color 0.6s ease
  & .fa
    font-size 21px
.btn-default
  &.white
    color #b38770 !important
    border 1px solid #b38770
    background #ffffff
    transition all 0.6s ease-in-out
    &:hover
      background-color #b38770
      color #fff !important
      transition all 0.6s ease-in-out
.logo__title
  font-size 18px
  color #000


.menu
  &__categories
    display table
    width 100%
    // border-top 1px solid #eee
    +below(600px)
      background-color #eee
  &__item
    display table-cell
    text-align center
    color #fff
    padding 0.5em 0
    font-size 1.2em
    transition background-color 0.5s ease
    &:hover
      background-color #424f60
      color #fff
      transition background-color 0.5s ease
    +below(600px)
      display block
      color #000
      border-bottom 1px solid #fff
      box-shadow 1px -1px 1px #fff
#name-foto
  display block
  background url('../images/house/logo.png') no-repeat center
  background-size contain
  padding-top 10px
  height: 70px;
#name-top
  display none
.color 
  color #FFF