// .info__line
//   width 150px
//   height 10px
//   border-radius 7px
//   background-color: #e65100
.info
  // background-image: url(../images/house/11.jpg);
  // opacity: 0.85;
  // padding-bottom 20px
  // padding-top 70px
  // background-attachment: fixed;
  // background-origin: initial;
  // background-clip: initial;
  // background-size: cover;
  // background-repeat:no-repeat;
  // background-position:100% 0;
  // position:relative;
  // min-height:550px;
  // color #000
  &__text
    margin 35px auto
    width 100%
    padding-right 20%
    padding-bottom: 20px;
    font-size 21px
    +below(600px)
      padding-right 0
  &__text span
    font-weight bold
  &__h2
    padding-top 3%
    text-align center;
    font-size 40px
.info-price
  margin 35px auto
  width 100%
  padding-right 20%
  padding-bottom: 20px;
  font-size 28px
  +below(600px)
    padding-right 0
.apart-content__header__type
  @media(max-width: 520px)
    font-size 17px !important
  h1
    font-size 30px
    font-weight bold
  font-size 20px


.apart-sidebar__header__ico-metro
  width: 42px;
  height: 33px;
  margin: 0 auto;
.metro
  margin 0 auto
.apart-content  
  font-family: 'Vollkorn', sans-serif !important
  background:linear-gradient(#FFF,#E6E6E6)
  background-image: url("../images/house/pattern2.png");
  padding-bottom 50px
.info-icon-name
  text-align center
  color: #646464 !important
  font-size: 18px;
  line-height: 16px;
  letter-spacing: .24px;
  @media(max-width: 620px)
    font-size: 12px !important
  span
    text-align center
    font-size: 26px !important
    line-height: 75px !important
    color: #646464
    letter-spacing: .44px !important
    @media(max-width: 620px)
      font-size: 22px !important
.info-icon-plan
  margin: 10px auto;
  width: 39px;
  height: 27px;
  margin-top: 5px;
  cursor: pointer;
  svg
    fill: #d3aa89
.info-icon-name
  height 130px
.icon-row
  overflow hidden
  margin-top 20px
.button-info
  margin: 0 auto;
  min-width: 280px;
  width: 100%;
  max-width: 340px;
  border: 2px solid #84d8d1;
  background: 0 0;
  font-size: 17px;
  text-transform: uppercase;
  color: #646464;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* height: 61px; */
  line-height: 56px;
  padding: -2 44px;
  /* letter-spacing: 1.2px; */
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
.button-info:hover
  border-color: #d3aa89;
  background: #d3aa89;
  color: #fff;
  border none
.button-info1
  text-align center
  margin-top 20px
.info_icons
  margin-top 75px
.info_plan
  font-weight bold
  font-size: 22px;
  line-height: 22px;
.price_info
  font-weight bold
  font-size: 40px
  span
    font-size 52px !important
.parking
  font-size 26px !important
  font-weight bold !important
  span
    font-weight normal !important
    font-size 19px !important
