.map
  margin-top 45px
  overflow hidden
  margin-bottom 0px !important
  &__title
    text-align center
    display inline-block

    +below(600px)
      display block
      text-align center
  .b-map
    position relative
    padding-top 20px
    paddig-bottom 20px
    &__text
      bottom: 160px;
      right: 158px
      position: absolute;
      z-index: 3;
      width: 320px;
      padding: 0 25px;
      border-radius: 2px;
      box-shadow: 0 2px 1px rgba(0,0,0,0.3);
      background-color: #c9a57e;
      text-align: center;
      font-size: 20px
      font-family: Arial;
      font-weight normal
      color white
      padding-bottom 20px
      +below(600px)
        display none


