.pdf__button
  display block
  width 350px
  // height 50px
  margin 30px auto
  background-color #e65100
  border 1px solid #000
  color #000
  text-align center
  border-radius 2px
  font-size 28px
  font-weight bold
  padding 15px
  transition all 0.6s ease-in-out
  +below(600px)
    width 90%
  
  &:hover
    background-color #000
    border none
    color #e65100 !important
    transition all 0.6s ease-in-out
