.plan-line
  width 150px
  height 10px
  border-radius 7px
  background-color: #e65100
.plan-line
  h2
    width: 80%
    padding-left: 7%
    padding-top: 34px
    font-size: 37px
.plan__text
  float left
  width 50%
  font-size 18px
  padding-top 154px
.plan__img
  float left
  width 50%
