.product-detail 
  &__title
    color: #333;
    font-size: 25px;
    font-weight: 700;
  &__order
    border-radius 6px
    box-shadow 0 5px 10px rgba(0,0,0,.09);
    padding 15px
    transition all 0.5s ease-in-out 0s
    &:hover
      box-shadow 1px 1px 3px #7D7C7C,
                -1px -1px 3px #7D7C7C
      transition all 0.5s ease-in-out 0s
  &__info
    margin-top: 10px
    
.price
  &__value
    color #333
    font-size 25px
  &__currency
    padding-left 5px     
  
.buy-btn
  width 100%
.characteristics
  &__item p
    display inline-block