.services
  &__list
    margin-top: 20px  
  &__menu 
    margin-top: 20px
    background-color #eee
  &Menu
    &__item
      display block
      border-top 1px solid #fff
      border-bottom 1px solid #fff
      box-shadow 1px -1px 1px #fff
      text-align center
      padding 0.5em 0
      font-size 1.2em
      transition background-color 0.5s ease
      &:hover
        background-color #424f60
        color #fff
        transition background-color 0.5s ease
      +below(600px)
        display block
        border-bottom 1px solid #fff
        box-shadow 1px -1px 1px #fff
  &__name
    margin-top 0
    font-size 18px
.d-services
  margin: 30px 0;
  overflow: hidden;
  max-height: 150px;  
  +below(770px)
    max-height none
    margin-bottom 20px
.detail__image
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  & > img
    display: inline-block;
    max-height: 250px;
    vertical-align: top;
    
