.slider-prev
  position absolute
  top 40%
  left -30px
  background rgba(0,0,0,0.3) url('../images/house/arrow-left.png') no-repeat center
  height 30px
  width 30px
  transition all 0.4s ease-in-out 0s
  &:hover
    background rgba(0,0,0,0.7) url('../images/house/arrow-left.png') no-repeat center
    transition all 0.4s ease-in-out 0s
.slider-next
  position absolute
  top 40%
  right -30px
  background rgba(0,0,0,0.3) url('../images/house/arrow-right.png') no-repeat center
  height 30px
  width 30px
  transition all 0.4s ease-in-out 0s
  &:hover
    background rgba(0,0,0,0.7) url('../images/house/arrow-right.png') no-repeat center
    transition all 0.4s ease-in-out 0s
  

.sliderSlick
  min-height 700px
  height 100%
  background-size cover
  width 100%
  background-position: 50% 50%
  &__container
    margin-bottom: 0 !important
    height 650px
    max-height 650px
  
  &__item
    outline none
    height inherit
    overflow hidden
    background-size cover
    background-position 50%

    & > img
      width 100%
      height auto
  &__content
    min-height 500px
    height 100%
    padding 20px 0
  &__description
    // margin-left: 539px;
    margin-top: 160px;
    float left
    font-size 25px
    color #fefefe
    background rgba(0,0,0,0.5)
    @media (max-width: 767px)
      font-size: 20px !important;
    span
      font-size: 44px !important
      font-weight bold
  &__detailImage
    height 100%

    +below(990px)
      display none
    & > img
      display inline-block
      height 100%
      width auto
      text-align center
      max-height 100%

  &__dots
    font-size 0
    line-height 0
    position absolute
    bottom 0
    width 100%
    text-align center
    margin-bottom 27px
    & li
      display inline-block
      margin 0 4px
    & button
      outline none
      width 15px
      height 15px
      font-size 0
      border none
      border-radius 50%
      padding 0
      background-color #fff
    & li.slick-active button
      background-color #24b3fd
.slick-list
  height 100%
.slick-track
  height 100%
// .slick-dots {

// }
// .slick-dots li {

// }
// .slick-dots button {
//     width: 15px;
//     height: 15px;
//     font-size: 0;
//     border-radius: 50%;
//     padding: 0;
//     background-color: #fff;
// }
// .slick-dots li.slick-active button {
//     background-color: #24b3fd;
// }
.slider-photo-gallery
  &__img
    width 115%
    padding 30px
    margin 0 auto
  @media (max-width: 767px)
    width 90% !important;
  @media (max-width: 600px)
    width 100% !important;

.slider-photo-gallery__nav
  &__img
    width 80%
    padding 30px
    margin 0 auto
  @media (max-width: 767px)
    width 90% !important;
  @media (max-width: 600px)
    width 100% !important;
.apart-gallery-slide__content
  width 100% !important;
  height 100px
  background-image: url("../images/house/pattern2.png") z-index 155
.apart-gallery_text
  font-size: 20px;
  color: #fff;
  padding-left 0
  @media (max-width: 767px)
    font-size: 13px !important;
  span
    font-size: 28px;
    color: #d3aa89;
    font-weight bold
    @media (max-width: 767px)
      font-size: 18px !important;
.fon
  background-padding 50% 50%
  owerflow hidden
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.57) 16%, rgba(0,0,0,0.79) 27%, rgba(0,0,0,0.81) 44%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.57) 16%,rgba(0,0,0,0.79) 27%,rgba(0,0,0,0.81) 44%,rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.57) 16%,rgba(0,0,0,0.79) 27%,rgba(0,0,0,0.81) 44%,rgba(0,0,0,1) 100%);
.nnn
  owerflow hidden
  text-align center
  @media (max-width: 767px)
    margin-top 10px
    margin-bottom 20px !important