
.video-block
  margin 40px auto
  text-align center
  height 569px
  +below(600px)
  	height 350px
.video__title
  text-align center
  font-size:53px
  padding-bottom 15px
  vertical-align middle
  background-color #c9a57e
  color white
