
.social
    h2.about__title <span>Мы</span> в соц сетях
    .container
      .row.set
        .social__fb.col-md-4.col-sm-4.col-xs-12
          a(href="https://www.facebook.com/reapple.ru")
            img(src='images/house/fa.png', alt='', style='width:100px;height:100px ')
        .social__inst.col-md-4.col-sm-4.col-xs-12
          a(href="https://www.instagram.com/evans_russia")
            img(src='images/house/in.png', alt='', style='width:100px;height:100px ')
        .social__yout.col-md-4.col-sm-4.col-xs-12
          a(href="https://vk.com/away.php?to=https%3A%2F%2Fwww.youtube.com%2Fchannel%2FUChSHOwohbtGwZzdWZc7zLRQ&cc_key=")
            img(src='images/house/you.png', alt='', style='width:100px;height:100px ')
        .clearfix

