include ../helpers/bem

block config
- var config = {}

doctype html
html(lang="ru-RU")
  head
    meta(charset='utf-8')
    title EVANS
    link(rel="shortcut icon" sizes="57x57" type="image/x-icon" href="https://mm.w1evans.com/public/img/favicon/apple-icon-57x57.png ")
    meta(name="description" content="")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1")

    link(rel='stylesheet', href="./css/bootstrap.css")
    link(rel='stylesheet', href="./css/style.css")
    //- link(href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic', rel='stylesheet', type='text/css')
    //- link(href='https://fonts.googleapis.com/css?family=Roboto:100i,300,300i,400,400i,500,500i,700,700i', rel='stylesheet', type=href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet")
    //- link(href="href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" rel="stylesheet")
    script(type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js")
    script(type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")


    block styles

    //- script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
    //- | <script>window.Modernizr || document.write('<script src="javascripts/vendor/modernizr-2.8.3.min.js"><\/script>')</script>
    //- | <!--[if lt IE 9]>
    //- |   <script src="javascripts/vendor/IE9.js"></script>
    //- | <![endif]-->
  body
    | <!--[if IE]>
    |  <div class="browsehappy">
    |    <p>
    |      You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience.
    |    </p>
    |  </div>
    | <![endif]-->

    include header.jade
    block content
    include footer.jade


    //- script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBkc2YUNDMaLs-nD3ypfYNMuQjHtkg1ng&callback=initMap")
    script(src="javascripts/main.js")



    block scripts


