
nav#my-menu
  ul
    li.selected
      a(href="#") home
    li 
      a(href="#") about
      ul.vertical
        li 
          a(href="#") test submenu
        li 
          a(href="#") test submenu
        li 
          a(href="#") test submenu
    li
      a(href="#") contact
 