- var x = 9;

.catalog
  .container
    .row
      .col-md-4.col-xs-12.col-sm-12
        .catalog__sidebar
          p.sidebar__title Title Filter
      .col-md-8.col-xs-12.col-sm-12
        .catalog__products
          
            .product.col-md-4.col-sm-6.col-xs-6
              .product__img-container
                a.link__img(href="product-detail.html")
                  img.product__image-align(src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRDK_xODZvbC21PbOuu4pT6JfxL-_e9GtefZknkbuL2QyBCkDqiN5sEDOg")
              .product__title 
                  a.link__name(href="product-detail.html") name
              .product__price 1234 руб.
              .product__description  Lorem ipsum dolor sit.
            - for (i=0;i<=x;i++) {
              .product.col-md-4.col-sm-6.col-xs-6
                .product__img-container
                  a.link__img(href="product-detail.html")
                    img.product__image-align(src="https://images-na.ssl-images-amazon.com/images/I/51m38v0XrnL._AC_US200_.jpg")
                .product__title 
                  a.link__name(href="product-detail.html") name
                .product__price 1234 руб.
                .product__description  Lorem ipsum dolor sit.
            - }
        
