- var x = 12;

.categories 
  .container
    .row
      h2.categories__title Предоставляемые услуги

      .col-md-12
        - for(i=0;i<=x;i++){
          .col-md-4.col-sm-6.col-xs-12
            a.categorie__link.center-block(href="#")
              img.img-responsive.center-block.categorie__img(src="images/test.jpg", alt="")
            a.categorie__link(href="#")
              h2.categorie__title.lead name of categorie
        - }
        