section.contacts
  .container
    h2.contacts__h2 Our contacts
    .contacts__content
      form.contats__form(action="")
        .col-md-12.col-sm-12
          .col-md-4
            input.contacts__input(type="text" required placeholder="name")
          .col-md-4
            input.contacts__input(type="email" required placeholder="email")
          .col-md-4
            input.contacts__input(type="tel" required placeholder="telephone")
          .col-md-12
            textarea.contacts__textarea(name="", cols="30", rows="10" placeholder="please enter your message")
        .clearfix
        button.btn__main submit
    .contacts__address
      i.fa.fa-map-marker
      span.address__text moskow prospect 46


    include ../layouts/map.jade
          
