section.features
  .container
    .row
      .features__wrapper.col-md-3.col-sm-4.col-xs-12 
        i.fa.fa-truck.features__iconColor
        .features__text  Lorem ipsum dolor sit.
      .features__wrapper.col-md-3.col-sm-4.col-xs-12 
        i.fa.fa-truck.features__iconColor
        .features__text  Lorem ipsum dolor sit.
      .features__wrapper.col-md-3.col-sm-4.col-xs-12 
        i.fa.fa-truck.features__iconColor
        .features__text  Lorem ipsum dolor sit.
      .features__wrapper.col-md-3.col-sm-4.col-xs-12 
        i.fa.fa-truck.features__iconColor
        .features__text  Lorem ipsum dolor sit.