footer#footer
  .container
    .row
      .col-md-4.col-sm-4.col-xs-12
        .logo-footer
        p.footer-map
          |Карта сайта
      .col-md-4.col-sm-4.col-xs-12.footer-info
        span
         |Мичуринский проспект,19к1,
      .col-md-4.col-sm-4.col-xs-12.footer-info
        .phone-number
          i.fa.fa-phone
          div
            a.tel-footer(href="tel:+79152007787", color="#fff")
              | +7 (915)200-77-87
              </br>
            a.tel-footer(href="tel:+79152007787", color="#fff")
              | +7 (915)200-77-87
          .social-list
            a(href="www.instagram.com/evans_russia")
             img(src="images/house/inst.png")
            a(href="www.facebook.com/reapple.ru")
              img(src="images/house/fa.png")


      button.btn.btn-responsive-nav.visible-xs.collapsed(data-toggle="collapse" data-target=".nav-main-collapse")
        i.fa.fa-bars
