

//- nav.navbar.navbar-default.navbar-fixed-top
//-   .container

//-     |<div class="navbar-header">
//-     |  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
//-     |        <span class="sr-only">Toggle navigation</span>
//-     |        <span class="icon-bar"></span>
//-     |        <span class="icon-bar"></span>
//-     |        <span class="icon-bar"></span>
//-     |   </button>
//-     |  <a class="navbar-brand" href="#">LOGO</a>
//-     |</div>
//-     #navbar-collapse-1.collapse.navbar-collapse

//-       ul.nav.navbar-nav
//-         li
//-           .navbar-form.navbar-left
//-             button#menu_button.btn.btn-default.navbar_btn(aria-label="justify")
//-               | меню
//-         li.active <a href="#">Link</a>
//-         li <a id="#menu_button" href="">Link</a>
//-         li <a href="#">Link</a>
//-         li <a href="#">Link</a>

header.header.animation-target.header-scroll 
  .container
    .row
      .col-md-3.col-sm-4
          
        .logo#name-foto
      .col-md-9.col-sm-8.col-xs-12
        .top-description.col-md-5.hidden-sm.hidden-xs
          #name-top
            |СРОЧНАЯ ПРОДАЖА 
        .top-callback.col-md-7
          .callback.pull-right.hidden-xs
            button.btn.header__button.js-popup(data-mfp-src="#popupCall") Заказать звонок
          .phone.pull-right.hidden-sm.hidden-xs
            .phone-number
              i.fa.fa-phone
              div
                a.color(href="tel:+79152007787")
                  | +7 (915) 200-77-87
          button.btn.btn-responsive-nav.visible-xs.collapsed(data-toggle="collapse" data-target=".nav-main-collapse")
            i.fa.fa-bars
      .col-md-12#menu
        .nav-main-collapse.collapse
          .menu__categories
            a.menu__item(href="#foto") Фотографии
            a.menu__item(href="#info") Основная информация
            a.menu__item(href="#video") Видео








