.apart-content#info
  .container
    .row
      .col-md-8.col-sm-12.col-xs-12
        .apart-content__header__type                                                        
          h1 
            |Квартира для Своих в «Доме 
            |Газпрома»</br>на Мичуринском                                                                                   
          p
            | Великолепная 4 комнатная квартира с дизайнерским ремонтом площадью 212 м2.Расположена в престижном Юго-Западном округе 
            |на Мичуринском проспекте (5 мин метро Раменки и 7 мин Ломоносовский проспект).
          p
            | Планировка: гостиная и обеденная зона, 3 раздельные комнаты (в каждой комнате по 2 окна), 3 санузла, 2 гардеробных 
            |комнаты, 2 балкона, 2 лифта. Квартира оборудована бытовой техникой от ведущих европейских производителей, теплые полы, в 
            |отделке использовались натуральные экологичные материалы.
          p
            | Дополнительные преимущества квартиры: Территория дома огорожена, охрана 24 часа, подземный паркинг, ведется 
            |круглосуточное видеонаблюдение.
          p
            | Две поликлиники прям на территории комплекса (детская и взрослая поликлиника "Газпром"), в шаговой доступности 2 детских 
            |сада, 2 школы ("Школа молодых политиков" 1308 и Московская Международная школа 1498), в 20 минутах МГУ и его 
            |подразделения, спортивный центр, детские площадки, места для семейного отдыха.
      .col-md-3.col-sm-12.col-xs-12
          .apart-sidebar__header                                                                                  
            a(href="#map").apart-sidebar__metro-ico
              img.metro(src="https://mm.w1evans.com/mmaps/rus-msk-mkad.png", style="width:200px;height:100%")
          .apart-sidebar__header.col-md-12.col-sm-6.col-xs-6
            .apart-sidebar__header__ico-pin
              svg#pin(viewbox='0 0 10.207000732421875 13.87900161743164', width='100%', height='100%')
                path(d='M7.012 9.275c-.622.71-1.31 1.493-1.908 2.451-.599-.958-1.287-1.742-1.909-2.45-1.215-1.388-2.174-2.48-2.174-4.274 0-2.196 1.831-3.98 4.083-3.98 2.251 0 4.083 1.784 4.083 3.98 0 1.793-.96 2.886-2.175 4.273M5.104 0C2.29 0 0 2.243 0 5.002c0 2.176 1.18 3.521 2.428 4.945.784.895 1.595 1.82 2.221 3.045l.455.887.454-.887c.627-1.226 1.437-2.15 2.222-3.045 1.248-1.424 2.427-2.769 2.427-4.945C10.207 2.243 7.918 0 5.104 0m0 6.533c-.87 0-1.578-.687-1.578-1.53 0-.845.708-1.533 1.578-1.533.87 0 1.577.688 1.577 1.532 0 .844-.708 1.531-1.577 1.531m0-4.083c-1.433 0-2.599 1.144-2.599 2.552 0 1.406 1.166 2.551 2.6 2.551 1.431 0 2.597-1.145 2.597-2.55 0-1.409-1.166-2.553-2.598-2.553', fill-rule='evenodd')

            p
              |Мичуринский проспект, 19к1
          .apart-sidebar__header.col-md-12.col-sm-6.col-xs-6
            .apart-sidebar__header__ico-metro
              svg(viewBox="0 0 28 28" id="MoscowMiddle" width="100%" height="100%")
                path(fill="#646464" d="M25.5 21.999h-8a.5.5 0 0 1-.5-.5v-2.5a.5.5 0 0 1 .5-.5h.036l-.592-1.567-3.021 4.832c-.183.293-.665.293-.848 0l-3.02-4.831-.592 1.566H9.5a.5.5 0 0 1 .5.5v2.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2.5a.5.5 0 0 1 .5-.5h1.554L8.032 5.322a.498.498 0 1 1 .892-.089l4.576 7.322 4.576-7.322a.52.52 0 0 1 .473-.232.501.501 0 0 1 .419.321l4.978 13.177H25.5a.5.5 0 0 1 .5.5v2.5a.5.5 0 0 1-.5.5zm-7.5-1h7v-1.5h-1.4a.5.5 0 0 1-.468-.323L18.389 6.62l-4.465 7.144c-.183.292-.665.292-.848 0L8.611 6.62 3.868 19.176a.501.501 0 0 1-.468.323H2v1.5h7v-1.5h-.259a.5.5 0 0 1-.468-.677l1.205-3.188a.495.495 0 0 1 .418-.32.491.491 0 0 1 .473.232l3.131 5.009 3.131-5.009a.5.5 0 1 1 .892.088l1.205 3.188a.499.499 0 0 1-.468.677H18v1.5z")
            p
              |Станция метро Раменки
          .apart-sidebar__header.col-md-12.col-sm-12.col-xs-12
            p.parking Парковка </br>
             span Подземная
        .clearfix
        .col-md-8.col-sm-12.col-xs-12.info_icons
            .info-icons
              a.col-md-4.col-sm-6.col-xs-6.info-icon-name(href="images/house/plan.jpg")
                p.info_plan Посмотреть планировку </br>
                  .info-icon-plan
                    svg#plane(viewbox='0 0 38 26', width='170%', height='170%')
                      path(d='M0 0v26h38V0H0zm24 24.041V13h1.5a.5.5 0 0 0 0-1H15V8.5a.5.5 0 0 0-1 0V12h-1.5a.5.5 0 0 0 0 1H23v11.041H2V13h3.5a.5.5 0 0 0 0-1H2V2h12v1.5a.5.5 0 0 0 1 0V2h21v10h-1.5a.5.5 0 0 0 0 1H36v11.041H24z')
              .col-md-4.col-sm-6.col-xs-6.info-icon-name
                p Площадь </br>
                  span 212м2
              .col-md-4.col-sm-6.col-xs-6.info-icon-name
                p Этаж </br>
                  span 5/18
              .col-md-1.col-sm-hidden.col-xs-hidden.info-icon-name
              .col-md-5.col-sm-6.col-xs-6.info-icon-name
                p Комнат </br>
                  span 4
              .col-md-5.col-sm-6.col-xs-6.info-icon-name
                p Санузлы </br>
                  span 3
              .col-md-1.col-sm-hidden.col-xs-hidden.info-icon-name
              .col-md-12.col-sm-12.col-xs-12.info-icon-name
                p.price_info Стоимость </br>
                  span 29 000 000
              .clearfix
            .info-links
              .col-md-6.col-sm-6.col-xs-12
                .button-info1
                  a.button-info Получить презентацию в PDF
              .col-md-6.col-sm-6.col-xs-12
                .button-info1
                  a.button-info 3D
              .col-md-12.col-sm-12.col-xs-12
                .button-info1
                  a.bold.button-info.js-popup(data-mfp-src="#popupCall") Назначить просмотр

