.container
  .row
    .col-md-12.new
      h1.new__title Name of new
      img.img-responsive(src="https://images-na.ssl-images-amazon.com/images/G/01/apparel/sandbox/adidas/4690_TRAIN_AMAZ_BrandLandingPages6", alt="")
      p.new__text.lead
        |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique labore animi voluptatem ipsam, rerum debitis. Eius voluptates aspernatur repellendus minus dolore. Aut libero explicabo fuga quaerat quidem! Incidunt libero impedit voluptatem quod, possimus nemo debitis commodi aspernatur esse. Et vitae quidem explicabo nobis. Accusamus, mollitia eveniet doloremque, libero excepturi ab!