.container
  .row
    .col-md-12.news
      h2.news__title News
      .col-md-8.col-sm-12
        a.new__link(href="new.html")
          img.img-responsive(src="https://images-na.ssl-images-amazon.com/images/G/01/img16/sports/showcase/1021266_us_sports_nyny_traffic-drivers_showcase_1500x400_v5_.jpg", alt="")
        a.new__link(href="new.html")
          h3.new__title Name of new
      .col-md-4.col-sm-12
        .row
          .col-md-12
            a.new__link(href="new.html")
              img.img-responsive(src="https://images-na.ssl-images-amazon.com/images/G/01/img16/sports/showcase/1016033_us_sports_ua-2_showcase_1500x400.jpg", alt="")
            a.new__link(href="new.html")
              h3.new__title Name of new
          .col-md-12
            a.new__link(href="new.html")
              img.img-responsive(src="https://images-na.ssl-images-amazon.com/images/G/01/img16/sports/showcase/Speedo1500x400", alt="")
            a.new__link(href="new.html")
              h3.new__title Name of new