section.pdf
  p.foto
    |3D обзор
  //-   .pdf__item.pdf__button
  //-     a(href='https://my.matterport.com/show/?m=kfZ93LqP6FH' class="pdf__button" download) 3d обзор
  .container
    iframe(width="100%" height="500px" src="https://my.matterport.com/show/?m=kfZ93LqP6FH&play=1")

