section.plan
  .container
    .plan-line
      h2
        |Схема площадки
    .plan__text
      |Квартира с террасой 55кв.м.</br>
      |Москва ул.Серафимовича д.2
    .plan__img
      img(src="images/house/plan.jpg" width="80%")
