
.mfp-hide.white-popup(id="popupMain", title="Сделать заказ")
      form.modal-form(id="formMain" method="" title="Главный экран")
          p.white-popup__text.popup__title Сделать заказ

          input.popup__input(type="text" placeholder="Ваше Имя" name="name" required="required")
          input.popup__input(type="tel" placeholder="Ваше Телефон" name="phone" required="required")
          button.b-btn.-small.__size Заказать

.mfp-hide.white-popup(id="popupCalculator", title="Форма калькулятора")
      form.modal-form(id="formCalculator" method="" title="Форма калькулятора")
          p.white-popup__text.popup__title Заказать партию

          input.popup__input(type="text" placeholder="Ваше Имя" name="name" required="required")
          input.popup__input(type="tel" placeholder="Ваше Телефон" name="phone" required="required")
          button.b-btn.-small.__size Заказать

.mfp-hide.white-popup(id="popupPrice", title="Форма Прайс-лист")
      form.modal-form(id="formPrice" method="" title="Форма Прайс-лист")
          p.white-popup__text.popup__title Прайс-лист

          input.popup__input(type="text" placeholder="Ваше Имя" name="name" required="required")
          input.popup__input(type="tel" placeholder="Ваше Телефон" name="phone" required="required")
          button.b-btn.-small.__size Заказать

.mfp-hide.white-popup(id="popupSugar", title="консультация сахар")
      form.modal-form(id="formSugar" method="" title="консультация сахар")
          p.white-popup__text.popup__title Консультация по сахару

          input.popup__input(type="text" placeholder="Ваше Имя" name="name" required="required")
          input.popup__input(type="tel" placeholder="Ваше Телефон" name="phone" required="required")
          button.b-btn.-small.__size Заказать

.mfp-hide.white-popup(id="popupCall", title="Заказать звонок")
      form.modal-form(id="formCall" method="" title="Заказать звонок")
          p.white-popup__text.popup__title Обратный звонок

          input.popup__input(type="text" placeholder="Ваше Имя" name="name")
          input.popup__input(type="tel" placeholder="Ваше Телефон" name="phone")
          input.popup__input(type="text" placeholder="Ваш e-mail" name="email" )
          button.b-btn.-small.__size.btn__main Оставить запрос
