.product-detail
  .container
    .row
      .col-md-6
        .product-detail__img-container
          img.img-container__images.img-responsive(src="https://images-na.ssl-images-amazon.com/images/I/71TnCFgX6tL._UX522_.jpg", alt="")
      .col-md-6
        p.product-detail__title Name of product
        .col-md-12.product-detail__order
          .col-md-6.product-detail__price
            p.price__title Цена
            p.price__value 
              |9999 
              span.price__currency руб. 
          .col-md-6
            button.buy-btn.btn.btn-success.btn-lg заказать
        .col-md-12.product-detail__info.well
          p.info__title.lead
            strong Описание
          p.info__text
            |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, minima?
            |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, minima?
            |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, minima?
        .col-md-12.product-detail__characteristics
          p.lead.characteristics__title Properties of product
          ul.characteristics__list.list-unstyled
            li.characteristics__item
              p <strong> propertie:</strong>
              p value
            li.characteristics__item
              p <strong> propertie:</strong>
              p value
            li.characteristics__item
              p <strong> propertie:</strong>
              p value
            li.characteristics__item
              p <strong> propertie:</strong>
              p value
            li.characteristics__item
              p <strong> propertie:</strong>
              p value


