- var x = 12;

.services 
  .container
    .row
      h2.services__title Предоставляемые услуги

      .col-md-12
        - for(i=0;i<=x;i++){
          .col-md-4.col-sm-6.col-xs-12
            a.categorie__link.center-block(href="./services-list.html")
              img.img-responsive.center-block.categorie__img(src="images/test.jpg", alt="")
            a.categorie__link(href="./services-list.html")
              h2.categorie__title.lead name of categorie
        - }
        