section.services__list 
  .container
    .row
      h2.services__title Имя категории
      .col-md-3.col-sm-3.col-xs-12
        .services__menu
          div
            a.servicesMenu__item(href="#") test
          div
            a.servicesMenu__item(href="#") test
          div
            a.servicesMenu__item(href="#") test
          div
            a.servicesMenu__item(href="#") test
          div
            a.servicesMenu__item(href="#") test
      .col-md-9.col-sm-9.col-xs-12
        .d-services
          .col-md-4.col-sm-4.col-xs-12
            a(href="./service.html")
              img.img-responsive(src="images/test.jpg", alt="")
          .col-md-8.col-sm-8.col-xs-12
            .service-desc
              a(href="./service.html")
                h5.services__name Имя услуги
              p Часть описание услуги....
              a(href="./service.html") Подробнее
        .d-services
          .col-md-4.col-sm-4.col-xs-12
            a(href="./service.html")
              img.img-responsive(src="images/test.jpg", alt="")
          .col-md-8.col-sm-8.col-xs-12
            .service-desc
              a(href="./service.html")
                h5.services__name Имя услуги 
              p Часть описание услуги....
              a(href="./service.html") Подробнее

        .d-services
          .col-md-4.col-sm-4.col-xs-12
            a(href="./service.html")
              img.img-responsive(src="images/test.jpg", alt="")
          .col-md-8.col-sm-8.col-xs-12
            .service-desc
              a(href="./service.html")
                h5.services__name Имя услуги
              p Часть описание услуги....
              a(href="./service.html") Подробнее
