


//- #slider-main.carousel.slide(data-ride="carousel")
//-   ol.carousel-indicators
//-     li(data-target="#slider-main" data-slide-to="0" class="active")
//-     li(data-target="#slider-main" data-slide-to="1" class="")
//-     li(data-target="#slider-main" data-slide-to="2" class="")

//-   .carousel-inner
//-     .item.active
//-       img(src="https://images-na.ssl-images-amazon.com/images/G/01/img16/sports/showcase/1023495_us_sports_newbalance_showcase_1500x400.jpg", alt="")
//-     .item
//-       img(src="https://images-na.ssl-images-amazon.com/images/G/01/img16/sports/showcase/1016033_us_sports_ua-2_showcase_1500x400.jpg", alt="")
//-     .item
//-       img(src="https://images-na.ssl-images-amazon.com/images/G/01/img16/sports/showcase/Speedo1500x400", alt="")



//-   a.left.carousel-control(href="#slider-main" data-slide="prev")
//-     span <
//-   a.right.carousel-control(href="#slider-main" data-slide="next")
//-     span >

//- #container.container-fluid
//-   .row
//-     // Первый столбец
//-     #left.col-xs-4
//-       div(style='height: 410px; background-color: orange')
//-       div(style='height: 200px; background-color: orange')
//-     // Второй столбец
//-     #middle.col-xs-4
//-       div(style='height: 200px; background-color: orange')
//-       div(style='height: 200px; background-color: orange')
//-       div(style='height: 200px; background-color: orange')
//-     // Третий столбец
//-     #right.col-xs-4
//-       div(style='height: 200px; background-color: orange')
//-       div(style='height: 410px; background-color: orange')
section#foto
  p.foto
    |Фотогалерея
//-   .container.gal-container
//-     .col-md-8.col-sm-12.co-xs-12.gal-item
//-       .box
//-         a(href='#', data-toggle='modal', data-target='#1')
//-           img(src='images/house/1.jpg')
//-         #1.modal.fade(tabindex='-1', role='dialog')
//-           .modal-dialog(role='document')
//-             .modal-content
//-               button.close(type='button', data-dismiss='modal', aria-label='Close')
//-                 span(aria-hidden='true') ×
//-               .modal-body
//-                 img(src='images/house/1.jpg')
//-     .col-md-4.col-sm-6.co-xs-12.gal-item
//-       .box
//-         a(href='#', data-toggle='modal', data-target='#2')
//-           img(src='images/house/2.jpg')
//-         #2.modal.fade(tabindex='-1', role='dialog')
//-           .modal-dialog(role='document')
//-             .modal-content
//-               button.close(type='button', data-dismiss='modal', aria-label='Close')
//-                 span(aria-hidden='true') ×
//-               .modal-body
//-                 img(src='images/house/2.jpg')
//-     .col-md-4.col-sm-6.co-xs-12.gal-item
//-       .box
//-         a(href='#', data-toggle='modal', data-target='#3')
//-           img(src='images/house/3.jpg')
//-         #3.modal.fade(tabindex='-1', role='dialog')
//-           .modal-dialog(role='document')
//-             .modal-content
//-               button.close(type='button', data-dismiss='modal', aria-label='Close')
//-                 span(aria-hidden='true') ×
//-               .modal-body
//-                 img(src='images/house/3.jpg')

//-     .col-md-4.col-sm-6.co-xs-12.gal-item
//-       .box
//-         a(href='#', data-toggle='modal', data-target='#4')
//-           img(src='images/house/4.jpg')
//-         #4.modal.fade(tabindex='-1', role='dialog')
//-           .modal-dialog(role='document')
//-             .modal-content
//-               button.close(type='button', data-dismiss='modal', aria-label='Close')
//-                 span(aria-hidden='true') ×
//-               .modal-body
//-                 img(src='images/house/4.jpg')
//-     .col-md-4.col-sm-6.co-xs-12.gal-item
//-       .box
//-         a(href='#', data-toggle='modal', data-target='#5')
//-           img(src='images/house/5.jpg')
//-         #5.modal.fade(tabindex='-1', role='dialog')
//-           .modal-dialog(role='document')
//-             .modal-content
//-               button.close(type='button', data-dismiss='modal', aria-label='Close')
//-                 span(aria-hidden='true') ×
//-               .modal-body
//-                 img(src='images/house/5.jpg')

//-     .col-md-4.col-sm-6.co-xs-12.gal-item
//-       .box
//-         a(href='#', data-toggle='modal', data-target='#6')
//-           img(src='images/house/6.jpg')
//-         #6.modal.fade(tabindex='-1', role='dialog')
//-           .modal-dialog(role='document')
//-             .modal-content
//-               button.close(type='button', data-dismiss='modal', aria-label='Close')
//-                 span(aria-hidden='true') ×
//-               .modal-body
//-                 img(src='images/house/6.jpg')

//-     .col-md-4.col-sm-6.co-xs-12.gal-item
//-       .box
//-         a(href='#', data-toggle='modal', data-target='#7')
//-           img(src='images/house/7.jpg')
//-         #7.modal.fade(tabindex='-1', role='dialog')
//-           .modal-dialog(role='document')
//-             .modal-content
//-               button.close(type='button', data-dismiss='modal', aria-label='Close')
//-                 span(aria-hidden='true') ×
//-               .modal-body
//-                 img(src='images/house/7.jpg')

//-     .col-md-4.col-sm-6.co-xs-12.gal-item
//-       .box
//-         a(href='#', data-toggle='modal', data-target='#8')
//-           img(src='images/house/8.jpg')
//-         #8.modal.fade(tabindex='-1', role='dialog')
//-           .modal-dialog(role='document')
//-             .modal-content
//-               button.close(type='button', data-dismiss='modal', aria-label='Close')
//-                 span(aria-hidden='true') ×
//-               .modal-body
//-                 img(src='images/house/8.jpg')
//-     .col-md-4.col-sm-6.co-xs-12.gal-item
//-       .box
//-         a(href='#', data-toggle='modal', data-target='#9')
//-           img(src='images/house/9.jpg')
//-         #9.modal.fade(tabindex='-1', role='dialog')
//-           .modal-dialog(role='document')
//-             .modal-content
//-               button.close(type='button', data-dismiss='modal', aria-label='Close')
//-                 span(aria-hidden='true') ×
//-               .modal-body
//-                 img(src='images/house/9.jpg')

//-     .col-md-8.col-sm-12.co-xs-12.gal-item
//-       .box
//-         a(href='#', data-toggle='modal', data-target='#10')
//-           img(src='images/house/10.jpg')
//-         #10.modal.fade(tabindex='-1', role='dialog')
//-           .modal-dialog(role='document')
//-             .modal-content
//-               button.close(type='button', data-dismiss='modal', aria-label='Close')
//-                 span(aria-hidden='true') ×
//-               .modal-body
//-                 img(src='images/house/10.jpg')

//-     .col-md-4.col-sm-6.co-xs-12.gal-item
//-       .box
//-         a(href='#', data-toggle='modal', data-target='#11')
//-           img(src='images/house/11.jpg')
//-         #11.modal.fade(tabindex='-1', role='dialog')
//-           .modal-dialog(role='document')
//-             .modal-content
//-               button.close(type='button', data-dismiss='modal', aria-label='Close')
//-                 span(aria-hidden='true') ×
//-               .modal-body
//-                 img(src='images/house/11.jpg')
//-               .col-md-12.description
//-                 h4 This is the leventh one on my Gallery
//-     .col-md-4.col-sm-6.co-xs-12.gal-item
//-       .box
//-         a(href='#', data-toggle='modal', data-target='#12')
//-           img(src='images/house/12.jpg')
//-         #12.modal.fade(tabindex='-1', role='dialog')
//-           .modal-dialog(role='document')
//-             .modal-content
//-               button.close(type='button', data-dismiss='modal', aria-label='Close')
//-                 span(aria-hidden='true') ×
//-               .modal-body
//-                 img(src='images/house/12.jpg')
//-     .col-md-4.col-sm-6.co-xs-12.gal-item
//-       .box
//-         a(href='#', data-toggle='modal', data-target='#13')
//-           img(src='images/house/13.jpg')
//-         #13.modal.fade(tabindex='-1', role='dialog')
//-           .modal-dialog(role='document')
//-             .modal-content
//-               button.close(type='button', data-dismiss='modal', aria-label='Close')
//-                 span(aria-hidden='true') ×
//-               .modal-body
//-                 img(src='images/house/13.jpg')
//-     .col-md-4.col-sm-6.co-xs-12.gal-item
//-       .box
//-         a(href='#', data-toggle='modal', data-target='#14')
//-           img(src='images/house/14.jpg')
//-         #14.modal.fade(tabindex='-1', role='dialog')
//-           .modal-dialog(role='document')
//-             .modal-content
//-               button.close(type='button', data-dismiss='modal', aria-label='Close')
//-                 span(aria-hidden='true') ×
//-               .modal-body
//-                 img(src='images/house/14.jpg')
//-     .col-md-4.col-sm-6.co-xs-12.gal-item
//-       .box
//-         a(href='#', data-toggle='modal', data-target='#15')
//-           img(src='images/house/15.jpg')
//-         #15.modal.fade(tabindex='-1', role='dialog')
//-           .modal-dialog(role='document')
//-             .modal-content
//-               button.close(type='button', data-dismiss='modal', aria-label='Close')
//-                 span(aria-hidden='true') ×
//-               .modal-body
//-                 img(src='images/house/15.jpg')

//-     .col-md-4.col-sm-6.co-xs-12.gal-item
//-       .box
//-         a(href='#', data-toggle='modal', data-target='#16')
//-           img(src='images/house/16.jpg')
//-         #16.modal.fade(tabindex='-1', role='dialog')
//-           .modal-dialog(role='document')
//-             .modal-content
//-               button.close(type='button', data-dismiss='modal', aria-label='Close')
//-                 span(aria-hidden='true') ×
//-               .modal-body
//-                 img(src='images/house/16.jpg')

//-     .col-md-8.col-sm-12.co-xs-12.gal-item
//-       .box
//-         a(href='#', data-toggle='modal', data-target='#17')
//-           img(src='images/house/17.jpg')
//-         #17.modal.fade(tabindex='-1', role='dialog')
//-           .modal-dialog(role='document')
//-             .modal-content
//-               button.close(type='button', data-dismiss='modal', aria-label='Close')
//-                 span(aria-hidden='true') ×
//-               .modal-body
//-                 img(src='images/house/17.jpg')
//-     .col-md-4.col-sm-6.co-xs-12.gal-item
//-       .box
//-         a(href='#', data-toggle='modal', data-target='#18')
//-           img(src='images/house/18.jpg')
//-         #18.modal.fade(tabindex='-1', role='dialog')
//-           .modal-dialog(role='document')
//-             .modal-content
//-               button.close(type='button', data-dismiss='modal', aria-label='Close')
//-                 span(aria-hidden='true') ×
//-               .modal-body
//-                 img(src='images/house/18.jpg')
//-     .col-md-4.col-sm-6.co-xs-12.gal-item
//-       .box
//-         a(href='#', data-toggle='modal', data-target='#19')
//-           img(src='images/house/19.jpg')
//-         #19.modal.fade(tabindex='-1', role='dialog')
//-           .modal-dialog(role='document')
//-             .modal-content
//-               button.close(type='button', data-dismiss='modal', aria-label='Close')
//-                 span(aria-hidden='true') ×
//-               .modal-body
//-                 img(src='images/house/19.jpg')

//-     .col-md-4.col-sm-6.co-xs-12.gal-item
//-       .box
//-         a(href='#', data-toggle='modal', data-target='#20')
//-           img(src='images/house/20.jpg')
//-         #20.modal.fade(tabindex='-1', role='dialog')
//-           .modal-dialog(role='document')
//-             .modal-content
//-               button.close(type='button', data-dismiss='modal', aria-label='Close')
//-                 span(aria-hidden='true') ×
//-               .modal-body
//-                 img(src='images/house/20.jpg')
//-     .col-md-4.col-sm-6.co-xs-12.gal-item
//-       .box
//-         a(href='#', data-toggle='modal', data-target='#21')
//-           img(src='images/house/21.jpg')
//-         #21.modal.fade(tabindex='-1', role='dialog')
//-           .modal-dialog(role='document')
//-             .modal-content
//-               button.close(type='button', data-dismiss='modal', aria-label='Close')
//-                 span(aria-hidden='true') ×
//-               .modal-body
//-                 img(src='images/house/21.jpg')
//- .col-md-12.text-center
//-   h3 Bootstrap 3 Multiple Slide Carousel
//- .col-md-6.col-md-offset-3
//-   #myCarousel.carousel.slide
//-     .carousel-inner
//-       .item.active
//-         .row
//-           .col-xs-3
//-             a(href='#')
//-               img.img-responsive(src='http://placehold.it/500/e499e4/fff&text=1')
//-           .col-xs-3
//-             a(href='#')
//-               img.img-responsive(src='http://placehold.it/500/e499e4/fff&text=2')
//-           .col-xs-3
//-             a(href='#')
//-               img.img-responsive(src='http://placehold.it/500/e499e4/fff&text=3')
//-           .col-xs-3
//-             a(href='#')
//-               img.img-responsive(src='http://placehold.it/500/e499e4/fff&text=4')
//-       .item
//-         .row
//-           .col-xs-3
//-             a(href='#')
//-               img.img-responsive(src='http://placehold.it/500/e499e4/fff&text=5')
//-           .col-xs-3
//-             a(href='#')
//-               img.img-responsive(src='http://placehold.it/500/e499e4/fff&text=6')
//-           .col-xs-3
//-             a(href='#')
//-               img.img-responsive(src='http://placehold.it/500/e499e4/fff&text=7')
//-           .col-xs-3
//-             a(href='#')
//-               img.img-responsive(src='http://placehold.it/500/e499e4/fff&text=8')
//-     a.left.carousel-control(href='#myCarousel', data-slide='prev')
//-       i.glyphicon.glyphicon-chevron-left
//-     a.right.carousel-control(href='#myCarousel', data-slide='next')
//-       i.glyphicon.glyphicon-chevron-right

.container
  .center
    div
      a.image-link(href="images/house/6.jpg")
        img.slider-photo-gallery__img(src='images/house/6.jpg')
    div
      a.image-link(href="images/house/8.jpg")
        img.slider-photo-gallery__img(src='images/house/8.jpg')
    div
      a.image-link(href="images/house/9.jpg")
        img.slider-photo-gallery__img(src='images/house/9.jpg')
    div
      a.image-link(href="images/house/10.jpg")
        img.slider-photo-gallery__img(src='images/house/10.jpg')
    div
      a.image-link(href="images/house/11.jpg")
        img.slider-photo-gallery__img(src='images/house/12.jpg')
    div
      a.image-link(href="images/house/12.jpg")
        img.slider-photo-gallery__img(src='images/house/11.jpg')
    div
      a.image-link(href="images/house/13.jpg")
        img.slider-photo-gallery__img(src='images/house/13.jpg')
    div
      a.image-link(href="images/house/14.jpg")
        img.slider-photo-gallery__img(src='images/house/14.jpg')
    div
      a.image-link(href="images/house/15.jpg")
        img.slider-photo-gallery__img(src='images/house/15.jpg')
    div
      a.image-link(href="images/house/16.jpg")
          img.slider-photo-gallery__img(src='images/house/16.jpg')
    div
      a.image-link(href="images/house/17.jpg")
        img.slider-photo-gallery__img(src='images/house/17.jpg')
    div
      a.image-link(href="images/house/18.jpg")
        img.slider-photo-gallery__img(src='images/house/18.jpg')
    div
      a.image-link(href="images/house/19.jpg")
        img.slider-photo-gallery__img(src='images/house/19.jpg')
    div
      a.image-link(href="images/house/20.jpg")
        img.slider-photo-gallery__img(src='images/house/20.jpg')
    div
      a.image-link(href="images/house/21.jpg")
        img.slider-photo-gallery__img(src='images/house/21.jpg')
    div
      a.image-link(href="images/house/22.jpg")
        img.slider-photo-gallery__img(src='images/house/22.jpg')
    div
      a.image-link(href="images/house/23.jpg")
        img.slider-photo-gallery__img(src='images/house/23.jpg')
    div
      a.image-link(href="images/house/1.jpg")
        img.slider-photo-gallery__img(src='images/house/1.jpg')
    div
      a.image-link(href="images/house/2.jpg")
        img.slider-photo-gallery__img(src='images/house/2.jpg')
    div
      a.image-link(href="images/house/3.jpg")
        img.slider-photo-gallery__img(src='images/house/3.jpg')
    div
      a.image-link(href="images/house/4.jpg")
        img.slider-photo-gallery__img(src='images/house/4.jpg')
    div
      a.image-link(href="images/house/5.jpg")
        img.slider-photo-gallery__img(src='images/house/5.jpg')
    div
      a.image-link(href="images/house/7.jpg")
        img.slider-photo-gallery__img(src='images/house/7.jpg')

  //- .slider-photo-gallery__nav
  //-   div
  //-     img.slider-photo-gallery__img(src='images/house/1.jpg')
  //-   div
  //-     img.slider-photo-gallery__img(src='images/house/2.jpg')
  //-   div
  //-     img.slider-photo-gallery__img(src='images/house/3.jpg')
  //-   div
  //-     img.slider-photo-gallery__img(src='images/house/4.jpg')
  //-   div
  //-     img.slider-photo-gallery__img(src='images/house/5.jpg')
  //-   div
  //-     img.slider-photo-gallery__img(src='images/house/6.jpg')
  //-   div
  //-     img.slider-photo-gallery__img(src='images/house/7.jpg')
  //-   div
  //-     img.slider-photo-gallery__img(src='images/house/8.jpg')
  //-   div
  //-     img.slider-photo-gallery__img(src='images/house/9.jpg')
  //-   div
  //-     img.slider-photo-gallery__img(src='images/house/10.jpg')
  //-   div
  //-     img.slider-photo-gallery__img(src='images/house/11.jpg')
  //-   div
  //-     img.slider-photo-gallery__img(src='images/house/12.jpg')
  //-   div
  //-     img.slider-photo-gallery__img(src='images/house/13.jpg')
  //-   div
  //-     img.slider-photo-gallery__img(src='images/house/14.jpg')
  //-   div
  //-     img.slider-photo-gallery__img(src='images/house/15.jpg')
  //-   div
  //-     img.slider-photo-gallery__img(src='images/house/16.jpg')

