.sliderSlick( alt="" style="height:100%; background-image:url('../images/house/fon.jpg');")
  .container
    .sliderSlick__container
      .sliderSlick__item
        .container.sliderSlick__content
          .col-md-6.sliderSlick__description
            p
              <span>Срочная продажа</span></br> Квартира для Своих в «Доме Газпрома» на Мичуринском
  .fon
    .container
      .apart-gallery-slide__content
        .col-md-3.col-sm-12.col-xs-12
        .col-md-9.col-sm-12.col-xs-12
          .apart-gallery_item.col-md-3.col-sm-3.col-xs-4
            .apart-gallery_text
              |Площадь </br>
              span  212м2
          .apart-gallery_item.col-md-3.col-sm-3.col-xs-4
            .apart-gallery_text
              |Этаж</br>
              span  5/18
          .apart-gallery_item.col-md-3.col-sm-3.col-xs-4
            .apart-gallery_text
              |Комнат</br>
              span  4
          .apart-gallery_item.col-md-3.col-sm-3.col-xs-12.nnn
            .apart-gallery_text
              |Стоимость</br>
              span  29 000 000