section#video.video-bottom
  p.foto
    |Видеообзор
  .container
    .video-block 
      //- iframe(width="100%" height="100%" src="https://www.youtube.com/embed/Tyv6_2ARK4A" frameborder="0" allowfullscreen="" data-mytype="name_iframe")
      iframe(width="100%" height="100%" src="https://www.youtube.com/embed/C811VEdYJ4E" frameborder="0" gesture="media" allowfullscreen)

