@import 'base/base'
@import 'base/placeholders'
@import 'components/**/*.styl'
@import '../../node_modules/magnific-popup/dist/magnific-popup.css'
@import '../../node_modules/toastr/build/toastr.css'
@import '../../node_modules/jquery.mmenu/dist/css/jquery.mmenu.all.css'
@import '../../node_modules/slick-carousel/slick/slick.css'
@import '../../node_modules/slick-carousel/slick/slick-theme.css'
@import 'base/mp'



.popup__input
  border 1px solid #f4836c
.popup__title
  margin-top 30px
  margin-bottom 30px

/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
//



// @import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);
body{
  font-family: 'jura', sans-serif;
}
.gal-container{
  padding: 12px;
}
.gal-item{
  overflow: hidden;
  padding: 3px;
}
.gal-item .box{
  height: 350px;
  overflow: hidden;
}
.box img{
  height: 100%;
  width: 100%;
  object-fit:cover;
  -o-object-fit:cover;
}
.gal-item a:focus{
  outline: none;
}
.gal-item a:after{
  content:"";
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  right: 3px;
  left: 3px;
  top: 3px;
  bottom: 3px;
  text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
  opacity: 1;
}
.modal-open .gal-container .modal{
  background-color: rgba(0,0,0,0.4);
}
.modal-open .gal-item .modal-body{
  padding: 0px;
}
.modal-open .gal-item button.close{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
.modal-open .gal-item button.close:focus{
  outline: none;
}
.modal-open .gal-item button.close span{
  position: relative;
  top: -3px;
  font-weight: lighter;
  text-shadow:none;
}
.gal-container .modal-dialogue{
  width: 80%;
}
.gal-container .description{
  position: relative;
  height: 40px;
  top: -40px;
  padding: 10px 25px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  text-align: left;
}
.gal-container .description h4{
  margin:0px;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
}
.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}
@media (min-width: 768px) {
.gal-container .modal-dialog {
    width: 55%;
    margin: 50 auto;
}
}
@media (max-width: 768px) {
    .gal-container .modal-content{
        height:250px;
    }
}
/* Footer Style */
i.red{
    color:#BC0213;
}
.gal-container{
    padding-top :75px;
    padding-bottom:75px;
}
footer{
    font-family: 'EB+Garamond', sans-serif;
}
footer a,footer a:hover{
    color: #fff;
}
p.foto
  text-align center
  font-size:53px
  padding-bottom 15px
  vertical-align middle
  margin-top: 70px;
  color: #000
  @media (max-width: 767px)
    font-size: 40px !important;


.slick-prev:before 
    font-size: 50px;
    color: #00569C;
    left -15px
    top: -13px;
    background: white;
    position: absolute;
  // @media (max-width: 450px)
  //   display none !important
.slick-next:before
  font-size: 50px;
  color: #00569C;
  top: -7px;
  background: white;
  position: absolute;




.social
  text-align: center;
  margin-bottom 30px

  // &__container
  //   max-width 1140px
  //   margin 0 auto
  &__container
    max-width 1140px
    margin 0 auto
  &__line
    width 100%
    margin-bottom: 124px;
    height: 90px;
    margin-top: 100px;
    background #cea47d

  &__text
    font-size 50px
    color #fff
    padding-top 8px
    text-align center
    font-weight 600
  &__fb
    padding 0
  &__inst
    padding 0
    +below(765px)
      padding-top 25px
  &__yout
    padding 0
    +below(765px)
      padding-top 25px


.set
  margin-top 70px



.pdf-2
  text-align center
  font-size:28px
  vertical-align middle
  background-color #e8e6e6
  color #000
  padding 35px 0px



.apart-sidebar__header__ico-pin
  width: 23px;
  height: 31px;
  margin: 0 auto;
  svg
    width: 100%;
    height: 100%;
    fill: #646464;

.apart-sidebar__header
  font-size: 12px;
  line-height: 24px
  color: #646464
  margin-top -5px
  owerflow  hidden
  margin-bottom 40px
  text-align center
  p
    font-size 20px
    text-align center
  span
    font-size: 16px;
    font-weight: bold;
    text-align center
.apart-content
  padding-top 50px
  background url("images/house/patern.jpg") cover
.bold
  font-weight bold