@import 'jeet'
@import 'config'
@import 'mixins'
@import 'placeholders'
@import '../../../node_modules/normalize.css/normalize.css'

// edit()

  

html
  // box-sizing border-box  
  background-color #fff
  font-size $baseFontSize

body
  // font-family: 'Metrophobic', sans-serif;
  // font-family: 'Roboto', sans-serif;
  font-family: 'Jura', sans-serif;

a
  text-decoration none !important
  outline none !important

.btn__main
  outline none
  border none
  text-align center
  padding 0.5em 1.5em
  margin 30px auto
  display block
  font-size 1.2em
  transition background-color 0.5s ease
  &:hover
    background-color #424f60
    color #fff
    transition background-color 0.5s ease
  +below(600px)
    display block
    border-bottom 1px solid #fff
    box-shadow 1px -1px 1px #fff

*,
*:before,
*:after
  // box-sizing inherit
