#contact-form-div
  transition: all 0.4s ease;

.lead-complete
  padding 40px
  font-weight bold
  font-size 16px
  line-height 28px
  color #439C3D

.white-popup
  min-height 300px
  text-align center
  border: 5px solid rgba(0, 0, 0, .8)
  padding-bottom 20px

.white-popup fieldset
  padding:0;
  border:0;
  font-size:1.2em;
  margin:40px 0 10px;
  text-align:center;

.white-popup label,
.white-popup input[type='text'],
.white-popup input[type='tel']
  text-align:left;
  display:block;
  margin-top:5px;
  margin 0 auto 30px
  padding:0.5em;
  border 1px solid #cfcfcf
  width 70%
  font-size 20px


.white-popup.ui-dialog .ui-state-error
  padding:0.3em;
.white-popup
  position:relative;
  background:#FFF;
  width:auto;
  max-width:520px;
  margin:20px auto;
  text-align:center;
  &__text
    text-transform uppercase
    font-weight bold
    font-size 30px
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}