$title
  text-align center
  color #696969
  font-size 36px
  font-weight 400


$center
  center($mainWidth, pad: 10px)

$container
  &__container
    @extend $center

$bWidth
  center($mainWidth, pad:0)