extends layouts/application.jade



block content

  include layouts/slider_slick.jade
  include layouts/slider.jade
  include layouts/video.jade
  //- include layouts/3d.jade
  include layouts/info.jade
  //- include layouts/news.jade
  //- include layouts/categories.jade
  //- include layouts/pdf.jade
  //- include layouts/plan.jade
  //- include layouts/pdf2.jade
  include layouts/map.jade
  //- include layouts/about.jade
  include layouts/popup.jade
  //- include layouts/catalog.jade




